.results-container{
    background-image: url('../../assets/img/results-background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    height: 100vh;
    width: 100vw;
    color: #f8f8f8;
}
.results{
    background-color: rgba(0,0,0, 0.8);
    margin: auto;
    height: 60%;
    width: 35%;
    border-radius: 30px;
}
.results-header{
    margin-top: 20%;
    text-align: center;
    color: #f8f8f8;
    font-size: 3rem;
    font-weight: 500;
}
.score{
    font-size: 1.5rem;
    margin-top: 2rem;
    line-height: 1.5;
    text-align: center;
}
.bottom-div{
    display: flex;
    justify-content: center;
    margin-bottom: 20%;
    padding:1rem 0px 2rem 0px;
    width:100%;
}
.bottom-div button{
    border:none;
    color: #f8f8f8;
    font-family: 'Quicksand', sans-serif;
    margin: 2rem;
    padding: 0.5rem 1rem;
}
.tryagain-button{
    background-color: #1da1f2;
    border-radius: 10px;
}
.tryagain-button:hover {
    background-color: #0c84cd;
    box-shadow: 0 2px 2px 0 rgba(0,0,0, 0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2) ;
    transition: 0.2s linear all;
}

.exit-button{
    background-color: #e1170d;
    border-radius: 10px;
}
.exit-button:hover {
    background-color: #b4120a;
    box-shadow: 0 2px 2px 0 rgba(0,0,0, 0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2) ;
    transition: 0.2s linear all;
}

@media (max-width: 720px) {
    .results-container .results{
        padding: 0 1rem;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}